

<div class="item">
  <h2><a href="/user/<%= @item.user.id %>"><%= @item.user.username %></a></h2>
  <br>
  <a href="/item/<%= @item.id %>"><img src="/<%=@item.photo%>"></a>
  <p>"<%= @item.description %>"</p>
  <a href="/tag/<%= @item.id %>"><img src="/<%=@item.photo%>"></a>
</div>
